<%- include('partials/header') %>

<div class="container">
  <div class="jumbotron centered">
    <i class="fas fa-taxi fa-6x"></i>
    <h1 class="display-3">Hello</h1>
    <p class="secret-text">Enter your details</p>

    <form action="/cab_secrets" method="POST">
      <div class="form-group">
        <label for="name">name</label>
        <input type="text" class="form-control" name="name" />
      </div>
      <div class="form-group">
        <label for="cabOrgName">company name</label>
        <input type="text" class="form-control" name="cabOrgName" />
      </div>

      <div class="form-group">
        <label for="phone">Phone No</label>
        <input type="number" class="form-control" name="phone" />
      </div>

      <button type="submit" class="btn btn-dark">Submit</button>
    </form>
  </div>
</div>
<%- include('partials/footer') %>

<!-- const userSchema = new mongoose.Schema({
  username: String,
  password: String,
  name: String,
  to: String,
  for: String,
  participant: Number,
  date: String,
  time: String,
}); -->
